/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include media-query($Size-med) {
    max-width: 1400px;
    @include display;
  }
}

.row {
  @include flexy($dir: column);
  padding: 1em 10px;
  @include media-query($Size-med) {
    flex-direction: row;
  }
}

[class^="col"] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include media-query($Size-med) {
    @include flexy($just: center);
    margin-top: 0;
    align-items: center;
    & + [class^="col"] {
      margin-left: 10px;
    }
  }
}

@each $theme, $color in $themes {
  .theme.col-#{$theme} {
    background-color: $color;
  }
}

@include media-query($Size-med) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: ($i * 8.333%);
    }
  }
}

.card {
  flex-basis: 100%;
}
